$mainColor: #8540AF

html
    scroll-behavior: smooth

body
    margin: 0
    font-family: 'Poppins', sans-serif
    overflow-x: hidden

.topDiv
    min-height: 80vh
    width: 90%
    padding: 10vh 5%

    background-image: url(img/img2.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position-x: center
    background-position-y: top

    &__header
        width: 40%
        color: #ffffff

        &__title
            margin: 10vh 0 0 0

        &__text
            font-weight: 200
            margin: 0 0 3vh 0


.mainDiv
    min-height: 80vh
    width: 90vw
    padding: 10vh 5vw
    color: rgb(0, 0, 0)
    position: relative

    
    &__contentDiv
        margin-top: 50px


.full-vw 
    display: grid
    grid-template-columns: repeat(1, 1fr)
    grid-gap: 0

.half-vw
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 50px

.smallTitle
    font-size: 2em


.textInput
    padding: 5px 5px
    text-align: left
    border-left: 0
    border-top: 0
    border-right: 0
    border-bottom: 3px solid  #8540AF
    font-size: 1.5em
    color:  #8540AF
    margin-right: 0

    
 
.taskDiv
    background-color: rgb(243, 243, 243)
    text-transform: capitalize
    text-align: center
    margin-bottom: 15px
    position: relative
    border-radius: 5px 
    overflow-x: hidden

.taskDiv > h1
    margin: 0 30px
    display: inline-block

.delBtn
    position: absolute
    right: 15px
    top: 5%
    height: 90%
    width: 45px
    background-image: url(img/del.svg)
    background-size: cover
    transition: 0.3s ease-in-out
    border: 3px solid #8540AF

.delBtn:hover
    background-image: url(img/del2.svg)

.checkBox
    position: absolute
    left: 15px
    top: 5%
    height: 90%
    width: 45px
    background-size: cover
    transition: 0.3s ease-in-out
    border: 5px solid #8540AF
    background-color: whitesmoke
    transition: 0.3s ease-in-out

.check
    background-image: url(img/check.svg)

.check:hover
    background-image: url(img/check2.svg)

.mainDiv___contentDiv___readyTask
    overflow-y: scroll
    max-height: 60vh


.returnBtn
    position: absolute
    top: 50px
    right: 50px

.btn
    background-color: $mainColor
    border: 4px solid $mainColor
    border-radius: 50px

    padding: 10px 45px

    text-decoration: none
    color: #000000
    font-weight: 700
    text-align: center
 
    transition: 0.3s ease-in-out 

.btn:hover
    color: $mainColor
    background: none
    box-shadow: 1px 1px 50px $mainColor

.purple
    color: $mainColor

#addBtn
    border-radius: 0
    padding: 10px 50px

@media only screen and (max-width: 1700px) 

    .title
        font-size: 2.1em
        margin: 0
    .topDiv__header__text
        display: none
    .text
        font-size: 1em
        margin: 0
    .btn
        font-size: 0.9em
        text-align: center
        color: #ffffff


@media only screen and (min-width: 1700px) 
        .title
            font-size: 4em
        .text
            font-size: 1.5em
        .btn
            font-size: 1.3em
        .half-vw
            display: grid
            grid-template-columns: repeat(1, 2fr)
        .firstBtn
            width: 50%

@media only screen and (max-width: 1700px) 
 
    .half-vw
        display: grid
        grid-template-columns: repeat(1, 1fr)
        width: 100%
   
    .returnBtn
        display: none
    
  
    
 
    
@media only screen and (min-width: 1940px) 
    body
        font-size: 1.7em
    